<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--  RETAILPLUS SYSTEM CREDIT BILLER SETTINGS
					These are the credit biller settings.

              CreditBillerWillPrintORs - true/false; set this to true if will print automatically during processing.
                                         take note of the printer paper or if it's offline.
              CreditBillerPrinter      - Normal/LX; set this to LX if the printer is LX otherwise to normal
                                         to avoid distortion of FONT.
              CreditBillerPrinterName  - printername where the auto print out will be printed when CreditBillerWillPrintORs is set to true.
		-->
        <add key="CreditBillerWillPrintORs" value="false"/>
        <add key="CreditBillerPrinter" value="LX"/>
        <add key="CreditBillerPrinterName" value="RetailPlusBilling"/>
        <add key="PrintToPDF" value="false"/>
        <add key="ProcessWaitInMins" value="1"/>
        <!--  RETAILPLUS SYSTEM TERMINAL SETTINGS
					These are the terminal settings.
		-->
		<add key="VersionFTPIPAddress" value="localhost"/>
		<add key="BranchID" value="1"/>
		<add key="TerminalNo" value="01"/>
		<add key="MachineSerialNo" value="000000"/>
		<add key="AccreditationNo" value="0000-000-00000-000"/>
        <!--<add key="MachineSerialNo" value="080092856"/>
        <add key="AccreditationNo" value="1208-008-41595-001"/>-->
		<!--  RETAILPLUS SYSTEM COMPANY SETTINGS
					These are the company settings.
					
					CompanyCode	-	Company abbreviated name. This will reflect in the reciept.
					CompanyName	-	Company long name.
					TIN		-	Tax Identification No.
					HDD SerialNumber: 6RAAYDDR
          
        UPDATE tblTerminal SET MachineSerialNo = '000000', AccreditationNo = '0000-000-00000-000' WHERE BranchID=1 AND TerminalNo='01';
        insert into systerminalkey select * from pos.systerminalkey where hdserialno = '6RAAYDDR';
		-->
		<add key="CompanyCode" value="RBS SOFTWARE SOLUTIONS"/>
		<add key="CompanyName" value="RBS SOFTWARE SOLUTIONS"/>
		<add key="TIN" value="229-764-801-000"/>
        <!--  RETAILPLUS SYSTEM CONFIGURATION SETTINGS
					These are the system configuration settings.
					
					logsdir	-	The folder wherein the system logs will be populated.
					Currency: Currency to print in the receipt.
					ServerIP: IP Address of the database server.
										localhost = default value
					DBName	:	Databasename to connect to
										pos = default value
										
					Added December 21, 2008 : MultiInstanceEnabled
					MultiInstanceEnabled values:
							false = do show more than 1 window in a single terminal
							true  = show more than 1 window in a single terminal
							false = default value
						
					Added April 11, 2009 : IsPrinterDotmatrix
					IsPrinterDotmatrix values:
							false = printer is not dotmatrix, can support PrintingOption
							true = printer is dotmatrix, cannot support PrintingOption
							true = default value
		-->
		<add key="logsdir" value="system_logs/"/>
    <add key="billingdir" value="c:/RetailPlus/RetailPlus/RetailPlus/temp/billings/"/>
		<add key="ServerIP" value="localhost"/>
		<add key="DBName" value="poshp"/>
        <!--  COMPANY INFORMATION
					These are the company information.
		-->
		<add key="Address1" value="INMED BUILDING"/>
		<add key="Address2" value="STA. CRUZ"/>
		<add key="City" value="MANILA CITY"/>
		<add key="State" value=""/>
		<add key="Zip" value=""/>
		<add key="Country" value="Philippines"/>
		<add key="OfficePhone" value=""/>
		<add key="DirectPhone" value="---"/>
		<add key="FaxPhone" value="---"/>
		<add key="MobilePhone" value=""/>
		<add key="EmailAddress" value=""/>
		<add key="WebSite" value=""/>
		<!--  WELCOME NOTES
					These are the report header option dutring report format creation.
		-->
		<add key="WelcomeNote1" value="Gamot na sigurado, sa ABOT kayang presyo"/>
		<add key="WelcomeNote2" value=""/>
		<add key="WelcomeNote3" value=""/>
		<add key="WelcomeNote4" value=""/>
		<add key="WelcomeNote5" value=""/>
		<!--  CLOSING NOTES
					These are the closing note options that can be used
					as a footer during report format creation.
		-->
		<add key="ClosingNote1" value="Thank you"/>
		<add key="ClosingNote2" value="Please Come Again."/>
		<add key="ClosingNote3" value="This serves as your official receipt."/>
		<add key="ClosingNote4" value=""/>
		<add key="ClosingNote5" value=""/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<system.web>
		<compilation defaultLanguage="c#" debug="true">
			<assemblies>
			</assemblies>
		</compilation>
		<customErrors mode="Off"/>
		<authentication mode="Windows"/>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
