<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--  RETAILPLUS SYSTEM TERMINAL SETTINGS
					These are the terminal settings.
		-->
		<add key="VersionFTPIPAddress" value="localhost"/>
		<!--  RETAILPLUS SYSTEM CONFIGURATION SETTINGS
					These are the system configuration settings.
					
					logsdir	-	The folder wherein the system logs will be populated.
					ServerIP: IP Address of the database server.
										localhost = default value
					DBName	:	Databasename to connect to
										pos = default value
										
		-->
		<add key="logsdir" value="system_logs/"/>
        <add key="billingdir" value="c:/RetailPlus/billings/"/>
		<add key="ServerIP" value="localhost"/>
		<add key="DBName" value="poshp"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<system.web>
		<compilation defaultLanguage="c#" debug="true">
			<assemblies>
			</assemblies>
		</compilation>
		<customErrors mode="Off"/>
		<authentication mode="Windows"/>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
