<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--  RETAILPLUS SYSTEM TERMINAL SETTINGS
					These are the terminal settings.
		-->
    <add key="VersionFTPIPAddress" value="localhost"/>
    <add key="BranchID" value="1"/>
    <add key="TerminalNo" value="01"/>
    <add key="MachineSerialNo" value="000050"/>
    <add key="AccreditationNo" value="1212-037-144072-000"/>
    <!--  RETAILPLUS SYSTEM COMPANY SETTINGS
					These are the company settings.
					
					CompanyCode	-	Company abbreviated name. This will reflect in the reciept.
					CompanyName	-	Company long name.
					TIN		-	Tax Identification No.
					HDD SerialNumber: W2A2FR5D    eUcImO0WImwjazHTWOz3uw2RMdgtj5BZoLFjxqQZZQgg5YXNSbvkGxr/nq52a+tN
		-->
    <add key="CompanyCode" value="KDC's STORE PLUS"/>
    <add key="CompanyName" value="KDC's STORE PLUS"/>
    <add key="TIN" value="137-172-894-000"/>
    <!--  RETAILPLUS SYSTEM CONFIGURATION SETTINGS
					These are the system configuration settings.
					
					logsdir	-	The folder wherein the system logs will be populated.
					Currency: Currency to print in the receipt.
					ServerIP: IP Address of the database server.
										localhost = default value
					DBName	:	Databasename to connect to
										pos = default value
										
					Added December 21, 2008 : MultiInstanceEnabled
					MultiInstanceEnabled values:
							false = do show more than 1 window in a single terminal
							true  = show more than 1 window in a single terminal
							false = default value
						
					Added April 11, 2009 : IsPrinterDotmatrix
					IsPrinterDotmatrix values:
							false = printer is not dotmatrix, can support PrintingOption
							true = printer is dotmatrix, cannot support PrintingOption
							true = default value
		-->
    <add key="logsdir" value="system_logs/"/>
    <add key="Currency" value="PHP"/>
    <add key="ServerIP" value="localhost"/>
    <add key="DBName" value="pos"/>
    <add key="MultiInstanceEnabled" value="false"/>
    <add key="ShowBarcodeNotProductCodeItemSelect" value="true"/>
    <add key="ShowDescriptionDuringItemSelect" value="false"/>
    <add key="MaskProductSearch" value="*"/>
    <!--  SeniorCitizenDiscountCode should be the same as the data in the database
					SELECT discountcode FROM tblDiscount
		-->
    <add key="SeniorCitizenDiscountCode" value="SEN"/>
    <!--  COMPANY INFORMATION
					These are the company information.
		-->
    <add key="Address1" value="POBLACION  "/>
    <add key="Address2" value="ABRA DE ILOG"/>
    <add key="City" value="OCCIDENTAL MINDORO"/>
    <add key="State" value=""/>
    <add key="Zip" value=""/>
    <add key="Country" value="Philippines"/>
    <add key="OfficePhone" value=""/>
    <add key="DirectPhone" value="---"/>
    <add key="FaxPhone" value="---"/>
    <add key="MobilePhone" value=""/>
    <add key="EmailAddress" value=""/>
    <add key="WebSite" value=""/>
    <!--  WELCOME NOTES
					These are the report header option dutring report format creation.
		-->
    <add key="WelcomeNote1" value="120304014"/>
    <add key="WelcomeNote2" value=""/>
    <add key="WelcomeNote3" value=""/>
    <add key="WelcomeNote4" value=""/>
    <add key="WelcomeNote5" value=""/>
    <!--  CLOSING NOTES
					These are the closing note options that can be used
					as a footer during report format creation.
		-->
    <add key="ClosingNote1" value="Thank you"/>
    <add key="ClosingNote2" value="Please Come Again."/>
    <add key="ClosingNote3" value="This serves as your official receipt."/>
    <add key="ClosingNote4" value=""/>
    <add key="ClosingNote5" value=""/>
    <!--  TRANSACTION SETTINGS
					These are the options if an auto print will be applied.
		-->
    <add key="TransactionPath" value="Transactions"/>

    <!--  MALL INFORMATION
					These are the company information provided by mall. 
					These settings is ok if not here, system will not encountered any error.
					
					TenantCode : Specified tenant code given by MALL.
					
					TenantName : Specified tenant name given by MALL.
											
					OutputDirectory : can hold variable with the following options:
											{YYYY}	-	Use current year as folder name
											{MM}		-	Use current month as folder name using 2 char 
												e.g. Month: January Directory: 01
											{MMM}		-	Use current month as folder name using 3 char 
												e.g. Month: January Directory: JAN
											{MMMM}	-	Use current month as folder name using the whole month name 
												e.g. Month: January Directory: JANUARY
						
				ROBINSONS LAND CORPORATION REQUIREMENT:
						TenantCode
						TenantName
						OutputDirectory
						
				FESTIVAL SUPERMALL INC REQUIREMENT: (MAKE SURE THE 
						TenantCode
						TenantName
						OutputDirectory
						SalesTypeCode
						
				MALLCODE : Specify which MALL to process, each mall has each own parameters as described above.
											NA - Not Applicable
											AYALA - Ayala
											RLC - Robinsons Land Corporation Inc.
											FSI - Festival Supermall Inc.
		-->
    <add key="MallCode" value="NA"/>
    <add key="TenantCode" value="0402"/>
    <add key="TenantName" value="RetailPlus Business Solutions Inc."/>
    <add key="OutputDirectory" value="c:\FORWARDER\{YYYY}"/>
    <add key="SalesTypeCode" value="FO"/>

    <!--  FTP SERVER MALL INFORMATION
					These are the company information provided by mall. 
					These settings is ok if not here, system will not encountered any error.
					
					FTPIPAddress  : Specified the FTP Server IPAddress given by MALL.
													If IPAddress is empty, it means that auto transfer is disabled
					
					FTPUsername   : Specified the FTP Username to login in the server
					
					FTPPassword   : Specified the FTP Password to login in the server
											
					FTPDirectory  : Specified the FTP Directory the files will be transferred. 
													If FTPDirectory is empty, it will use the current directory it has logged in.
		-->
    <add key="FTPIPAddress" value="127.0.0.1"/>
    <add key="FTPUsername" value="test"/>
    <add key="FTPPassword" value="test"/>
    <add key="FTPDirectory" value="/"/>
    <!--  FTP Auto Resend Parameters
					FTPAutoResendInterval  : FTP Auto resend interval in seconds
																	 e.g. if value = 60, it is equal to 1minute
																	 default value is 30seconds.
		-->
    <add key="FTPAutoResendInterval" value="30"/>
    <add key="CustomerCount" value="7"/>
    <add key="CustomerIDs" value="0"/>
    <add key="CustomerIDsX" value="0"/>

  </appSettings>
  <system.web>
    <compilation defaultLanguage="c#" debug="true">
      <assemblies>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <authentication mode="Windows"/>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
<!--*********************************************************************
*
*
* Version 3.0.3.5
* 1.BE: Oct 12, 2011 : Lemu - Include Reward points item management (Master files -> Product Reward Points) 
* 2.BE: Oct 14, 2011 : Lemu - Added 'ShowCustomerSelection' in terminal setup
* 3.BE: Oct 14, 2011 : Lemu - If 'ShowCustomerSelection' is uncheck, this means that reward card 
														- should be present instead of showing customer selection window.
* 4.FE: Oct 14, 2011 : Lemu - Points automatically added to customer after closing of transaction. 
* 5.BE: Oct 19, 2011 : Lemu - Include closing of inventory per variation (Inventory, CLose Inventory - Detailed)
* 5.BE: Oct 19, 2011 : Lemu - Added 'ActualQuantity' counting per variation
* 6.BE: Oct 20, 2011 : Lemu - Include closing of inventory report (Inventory, CLose Inventory Report)
* 7.BE: Oct 20, 2011 : Lemu - Added locking of window while processing is in progress.
*
*
* Version 3.0.3.4
* 1.BE: Sep 12, 2011 : Lemu - Include Loyalty Mechanism (Reward Points) 
*                           - command: {Alt + F7} in FE to issue Reward Card No. to customer.
* 2.FE: Sep 24, 2011 : Lemu - Added order slip wherein all punch items will not change sales and inventory
*                           - a customer named ORDER SLIP should be defined in contacts
*
*
* Version 3.0.0.3
* 1.BE: Aug 26, 2011 : Lemu - Include RID,IDC in Product, PO (Auto Generation of Items)
*
*
* Version 3.0.0.2
* 1.FE: Aug 03, 2011 : Lemu - Fix bug on checking if quantity sold is enough
* 2.FE: Aug 03, 2011 : Lemu - Remove the RegistrationKey in .config, put in DB table:sysTerminalkey
* 3.FE: Aug 03, 2011 : Lemu - Include version checking and sync from FTP server
* 4.FE: Aug 04, 2011 : Lemu - Fix bug on loading of transaction DiscountCode & DiscountRemarks during reprint (SalesTransaction.Details method)
* 5.FE: Aug 04, 2011 : Lemu - Fix bug overwrite cashier during resumetransaction not on closetransaction.
*
* Version 3.0.0.1
* 1.BE: Inlcude productmovement report.
*
*
* Version 3.0.0.0
* Date: 04-01-2011
* 1.FE: Include Commit and Reserved
* 2.FE: Include Refund of Credit
* 3.FE: No double login
* 4.FE: Include releasing
* 5.FE: Include double checking of customer [CustomerCount, CustomerIDs, CustomerIDsX]           
* 6.BE: Include Close inventory 
*       Filename should have FILE_NAME_CODE = CLOSE-INV-
*       SHEET_NAME = INVENTORY
*       SHEET_NAME_QUANTITY_ERROR = QUANTITY_ERROR
*       SHEET_NAME_INVALID_PRODUCT = INVALID_PRODUCT
* 7.BE: Include supplier in the stocks for reorder report
* 8.FE: 
*
*
* Version 2.0.1.5
* Date: 09-26-2010
* 1.BE: Include Department and Position Setup
* 2.BE: Include Department and Position in setting up contacts, vendors and customers
* 3.BE: Create Agents Sales Report. This can be controlled in Access Rights.
* 4.BE: Separate Agents Commision Report and Agents Sales Report. This can be controlled in Access Rights.
* 5.BE: Include TransferIn and TransferOut selling price in report.
* 6.FE: Added logo for Reports
* 7.FE: Feb 22, 2011 - Added SalesInvoiceForLX300PlusAmazon report. Change the 	Receipt Type* in BE to SalesInvoiceForLX300PlusAmazon
*
*
* Version 2.0.1.4
* Date: 04-26-2010
* 1.BE: Include wholesale price in Product Add/Edit, Variation Add/Edit.
* 2.DB: Include wholesale price default margin in tblTerminal. WSPriceMarkUp
* 3.DB: Include retail price default margin in tblTerminal. RETPriceMarkUp
* 4.FE: Include checking of ordered quantity if greater than current quantity.
* 5.FE: Tag all items as Nonvatable & remove V-NV in receipts. Please put the SeniorCitizenDiscountCode same as in the database. Please see this.
*
*
* Version 2.0.1.3
* Date: 04-26-2010
* 1.BE: Include purchase price supplier and customer in sales per item hsitory report.
* 2.FE: Added CreatedByID and CreatedByName fields to track the creator of transaction.
* 3.BE: Added Total Stock Report with Supplier name.
* 4.BE: Added TOTAL Quantity IN-OUT in Inventory Report.
* 5.BE: Include Paramaters StartTransactionDate and EndTransactionDate in Dated Transactions Reports.
* 6.BE: Added Paid-Out report under Dated Transactions Report
* 7.BE: Added Disburse report under Dated Transactions Report
* 8.BE: Added WithHold report under Dated Transactions Report
* 9.BE: Added Synchronize Products module in Master Files
* 10.BE: Added Exporting and Importing of Purchase Orders.
* 11.FE: Added WillContinueSelectionVariation in FE if Product Variation Selecttion will re-appear if after selecting variation.
* 12.FE: Added WillContinueSelectionProduct in FE if Product Variation Selecttion will re-appear if after selecting product.
*
*
* Version 2.0.1.2
* Date: 03-01-2010
* 1.BE: Added purchase price history during PO.
* 2.BE: Added purchase price history in Change Price Module.
* 3.FE: Fix bug in OR for LX: add discount and print the correct balance.
* 4.FE: Fix bug in PurchaseAmount if quantity > 2 and Item discount is applied.
*
*
* Version 2.0.1.1
* Date: 03-01-2010
* 1.BE: Additional filtering of Purchase Order list and reports.
* 2.BE: Additional agent commision reporting
* 3.FE: Added agent commisions and selection of Agents
* 4.FE: Added shortcut for reprinting of transactions, {SHIFT + F12}
*
*
* Version 2.0.1.0
* Date: 01-29-2010
* 1.BE: Additional button forquickly adding new product in PO-POST.
* 2.FE: Added printing in LX Printer. Add new Receipt type #4
*     2.a. in Mysql: update tblterminal set receipttype = 4;
*     2.b. in Printer and Faxes: Define new PaperSize name it as RetailPlusLXHalfSize: Width = 8.5inch length = 5inch LeftMargin=.05inch RightMarin=0.05inch
*          2.b.1 HowTo: gotot printer and faxes: Click File, Server Properties, then create the RetailPlusLXHalfSize
*
*
* Version 2.0.0.9
* Date: 10-29-2009
* 1.FE: Additional field for tagging of active/inactive products. Show ACTIVE only.
* 1.1FE: Fixed bug on paying Credit Card during Credit [utang] Payments.
* 2.Most Saleable Items Report - link to open item in product inventory report.
* 3.Profit and Loss per item Report - link to open item in product inventory report.
* 4.Product Inventory History Report - If the transaction no is a transaction in FE, open it.
* 5.Posting of PO - Update purchase price of specific variation only, not all product variations.
* 6.Product Package link - corrected the bug : no link.
* 7.Least Saleable Items Report - link to open item in product inventory report.
* 8.Product History Report - Sold Remarks : include purchase amount and selling price per unit.
* 9.Profit and Loss per Item Report - Change the name to Gross Margin per item.
*           - Put options to Show All, Show negative margin only and Show positive margin only.
*           - Put lines on each item.
* 10.Change Product Prices - include delete button to remove package.
* 11.Product list - Tagging as active/inactive.
*           - Put options for showing all active/inactive, showing active only, showing inactive only.
*           - Put options for showing x no of items only. Default is 100 items.
*           - Put background for the list alternating items.
*
*
* Version 2.0.0.82
* Date: 10-02-2009
* 1.Fix sending file to RLC FTP Argosoft server. - Updates on AceSoft.dll
*
*
* Version 2.0.0.8
* Date: 09-01-2009
* 1.Added TransactionNo as reference for payments types.
* 2.Added inserting payments types in stored procedure.
* 3.Fix sending file to RLC FTP Argosoft server. - Updates on AceSoft.dll
*
*
* Version 2.0.0.7
* Date: 08-15-2009
* 1.Add remarks in the change price history in BackeEnd.
*
*
* Version 2.0.0.6
* Date: 07-13-2009
* 1.Bug on printing sales invoice due to maximum report processing jobs
*   Solution: close and dispose object during each session for after printing invoice .
* 2.Enable initialize of ZREAD if more than 2days if checking of CuttOffTime is off.
* 3.Enable changing of Price if return item.
* 4.Bug on Line 17 and 18 of Forwarder.FSI to include 2 decimal places even if it's zero.
* 5.Added Delivery Receipt report.
* 6.Added ShowDescriptionDuringItemSelect paramter in config file to check if description will be shown during item select.
*   set ShowDescriptionDuringItemSelect to 1 if description will be shown.
*
*
* Version 2.0.0.5
* Date: 05-03-2009
* 1. Remove the :00 in the FSI Forwarder.
*
*
* Version 2.0.0.4
* Date: 04-01-2009
* 1. RLC Accreditation
*
*
********************************************************************-->
